@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/*my custom properties*/
$my-yellow:#fad566;
$my-orange:#dd9274;
$my-purple:#c55e7c;
$gradient-yop:linear-gradient(0deg, rgba(250,213,102,1) 0%, rgba(221,146,116,1) 52%, rgba(207,116,121,1) 74%, rgba(197,94,124,1) 100%);
$search-measurment:30px;


ul {
  list-style-type: none;
}

body {
  background:#000;
  font-family: 'Fira Sans', sans-serif;
}

.app {
  position: relative;
  background: $gradient-yop;
  min-width:250px;
  max-width:900px;
  height: auto;
  margin:1rem auto 0 auto;
  padding:1rem 0;
  border-radius: 3px;
  color:#fff;
  letter-spacing: 0.15px;
}

@media(max-width:920px) {
  .app { max-width:95vw; }
}

@media(max-width:500px) {
  .app {
    height: 95vh;
  }
}





.loading-section {
  background:rgba(49, 49, 49);
  color:#fff;
  width:100%;
  height:100%;
  position: absolute;
  text-align: center;
  display: none;
  z-index:-100;
  top:0;
}

.loading-section--active {
  display: block;
  z-index:100;
}


.loading-section__content {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.loading-section__heading {
  margin-bottom: 0.25rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/*app__header*/
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem 1rem;
}

/*current location*/
.current-location {
  color:#fff;
  text-transform: uppercase;
}


/*search-bar*/
.search-bar {
  --size:45px;
  --font-size:1rem;
  border:0px solid $my-yellow;
  display:flex;
  border-radius: 100vh;
  height:var(--size);
  width:var(--size);
  padding:5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;


  &__input {
    flex-grow: 1;
    font-size:var(--font-size);
    padding:0 0.5rem;
    border:0;
    background: transparent;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    line-height: calc(var(--size) - 3px);
    opacity: 0;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &__submit {
    font-size:var(--font-size);
    cursor: pointer;
    border:0;
    border-radius: 50%;
    color:#fff;
    background:$my-yellow;
    width:calc(var(--size) - 10px);
    height:calc(var(--size) - 10px);
    margin-left:auto;
  }

  &:focus-within {
    width:200px;
    background: #fff;
    color:#000;

    .search-bar__input {
      opacity: 1;
      cursor: text;
      width:calc(100% - var(--size));
    }

    .search-bar__input:focus,
    .search-bar__input:hover {
      outline: 0;
    }

  }
}



/*forecast*/
.app__current-forecast {
  text-align:center;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  margin-top:1rem;
}

.forecast__summary__icon {
  font-size:4rem;
  margin-bottom:2rem;
}

.current-details {
  font-size:1.25rem;
}


.current-forecast__temp {
  font-size: 4em;
  margin-bottom:1rem;
}

.current-forecast__details {
  display:flex;
  align-items:center;
}

.current-forecast__details > * {
  margin:0 1rem;
}




/*week forecast*/
.week-forecast__items {
  display:flex;
  align-items:center;
  margin:0 auto;
  margin-top:4rem;
  max-width:100%;
  flex-wrap: wrap;
}

.week-forecast__item {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  flex-grow:1;
  width:50px;
  border-radius: 3px;
  padding:0.5rem;
  margin:0 0.25rem;
  cursor: pointer;
  transition:border 300ms ease;
}

.week-forecast__item--selected {
  border:1px  solid #fff;
}

.forecast__item__icon {
  width:50px;
}

.week-forecast__item__temp {
  margin:0.5rem 0 0.25rem 0;
}




/*additonal features*/
.additional-features {
  position: relative;
  margin:2rem 1.5rem 0  1.5rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items:center;
}


.temp-change {
  --paddingValue:0.25rem;
  --widthHeightValue:35px;
  --amtOfBtns:3;

  width:calc((var(--widthHeightValue) * var(--amtOfBtns)) + (var(--paddingValue) * var(--amtOfBtns)));
  grid-column:2/3;
  justify-self: center;
  align-self: center;
}

.temp-change__btn {
  border:none;
  background: transparent;
  color:#fff;
  font-size:1.25rem;
  padding:0.25rem;
  width:35px;
  height:35px;
  text-align: center;
  cursor: pointer;
  transition:border 300ms ease;
}

.temp-change__btn--selected {
  border:2px solid #fff;
}











/*error popup*/
.error-popup {
  position: absolute;
  background-color:#fff;
  color:#000;
  width:95%;
  padding:1rem 0.5rem;
  top:95%;
  left:50%;
  transform: translate(-50%, -95%);
  z-index: -999;
  opacity:0;
  display:none;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  box-shadow: 1px 5px 10px rgba(34, 34, 34, 0.25);
  border-radius: 3px;

  transition: opacity 0.5s ease;
}

.error-popup--active {
  z-index: 999;
  opacity:1;
  display:flex;
}


.error-popup__close-btn {
  border:none;
  background:rgb(236, 36, 36);
  color:#fff;
  width:25px;
  height:25px;
  border-radius: 2px;
  font-size:1.5rem;
}

.error-popup__close-btn:hover {
  background:rgb(255, 41, 41);
  cursor: pointer;
}

.error-popup__close-btn:active {
  background:rgb(236, 36, 36);
}