*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

@font-face {
  font-family: "myFont";
  src: url("./Titillium_Web/TitilliumWeb-Regular.ttf");
}

/*my custom properties*/
$my-yellow:#fad566;
$my-orange:#dd9274;
$my-purple:#c55e7c;
$gradient-yop:linear-gradient(0deg, rgba(250,213,102,1) 0%, rgba(221,146,116,1) 52%, rgba(207,116,121,1) 74%, rgba(197,94,124,1) 100%);
$search-measurment:30px;


ul {
  list-style-type: none;
}

body {
  background:#000;
}

.app {
  position: relative;
  background: $gradient-yop;
  width:80vh;
  height: 60vh;
  margin:1rem auto 0 auto;
  border-radius: 2px;
  color:#fff;
}

/*app__header*/
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5rem 1rem;
}


/*current location*/
.current-location {
  color:#fff;
  text-transform: uppercase;
}


/*search-bar*/
.search-bar {
  --size:45px;
  --font-size:1rem;
  border:0px solid $my-yellow;
  display:flex;
  border-radius: 100vh;
  height:var(--size);
  width:var(--size);
  padding:5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;


  &__input {
    flex-grow: 1;
    font-size:var(--font-size);
    padding:0 0.5rem;
    border:0;
    background: transparent;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    line-height: calc(var(--size) - 3px);
    opacity: 0;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }

  &__submit {
    font-size:var(--font-size);
    cursor: pointer;
    border:0;
    border-radius: 50%;
    color:#fff;
    background:$my-yellow;
    width:calc(var(--size) - 10px);
    height:calc(var(--size) - 10px);
    margin-left:auto;
  }

  &:focus-within {
    width:200px;
    background: #fff;
    color:#000;

    .search-bar__input {
      opacity: 1;
      cursor: text;
      width:calc(100% - var(--size));
    }

    .search-bar__input:focus,
    .search-bar__input:hover {
      outline: 0;
    }

  }
}



/*forecast*/
.app__current-forecast {
  // background:rgba(0, 0, 0, 0.20);
  text-align:center;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}

.forecast__summary__icon {
  font-size:4rem;
  margin-bottom:2rem;
}

.current-details {
  font-size:1.25rem;
}


.current-forecast__temp {
  font-size: 4em;
  margin-bottom:1rem;
}

.current-forecast__details {
  display:flex;
  align-items:center;
}

.current-forecast__details > * {
  margin:0 1rem;
}




/*week forecast*/
.week-forecast__items {
  display:flex;
  align-items:center;
  margin:0 auto;
  margin-top:4rem;
  width: 75vw;
  max-width:100%;
}

.week-forecast__item {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  flex-grow:1;
  width:50px;
  border-radius: 3px;
  padding:0.5rem;
  margin:0 0.25rem;
  cursor: pointer;
  transition:border 300ms ease;
}

.week-forecast__item--selected {
  border:1px  solid #fff;
  background:rgba(63, 39, 39, 0.1);
}

.week-forecast__item__temp {
  margin:0.5rem 0 0.25rem 0;
}


.temp-change {
  position: absolute;
  top:97%;
  left:50%;
  transform: translate(-50%, -97%);
}

.temp-change__btn {
  border:none;
  background: transparent;
  color:#fff;
  font-size:1.15rem;
  padding:0.15rem;
  width:30px;
  text-align: center;
  cursor: pointer;
  transition:border 300ms ease;
}

.temp-change__btn--selected {
  border:2px  solid #fff;
}